<div class="container bg-light text-dark pad">
  <div class="text-center">
    <h1 class="username"><%= @user.username %></h1>
    <small><%= @user.city %></small>
  </div>

  <h5> About: </h5>
  <p><%= @user.bio %></p>
  <h5><%= @user.username %>'s Categories:</h5>
  <% categories = [] %>
  <% @user.dreams.reverse.each do |dream| %>
    <% if !dream.private || dream.user == current_user %>
      <% categories << dream.categories %>
    <% end %>
  <% end %>
  <ul>
    <% categories = categories.flatten %>
    <% if categories.empty? %>
      <li>No categories to display.</li>
    <% else %>
      <% categories.uniq.each do |category| %>
        <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
      <% end %>
    <% end %>
  </ul>

  <% if @user == current_user %>
    <p><a class="btn btn-outline-dark" role="button" href="/users/<%= @user.id %>/edit">Update profile information</a></p>
  <% end %>

  <h4 class="pad"> <%= @user.username %>'s Dreams <%= '<span class="comments"><a href="/dreams/new" role="button" class="btn btn-outline-success">New Dream</a></span>' if @user == current_user %> </h4>


    <% dream_count = 0 %>
    <% @user.dreams.reverse.each do |dream| %>
      <% if !dream.private || dream.user == current_user %>
        <% dream_count += 1 %>

        <div class="card" id="dream_<%= dream.id %>">
          <a class="plain-links" href="/dreams/<%= dream.id %>">
            <div class="card-header clearfix">
              <%= "<span class=\"badge badge-danger\">Private</span>" if dream.private %><span class="date"><%= dream.created_at.strftime("%A, %b %d, %Y, %l:%M%P %Z") %></span>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= dream.title %></h5>
              <p class="card-text"><%= dream.content %></p>
            </div>
            <div class="card-footer text-muted">
              <% cats = dream.categories.collect { |cat| "<a href=\"/categories/#{cat.id}\">#{cat.name}</a>" } %>
              <span class="categories">Categories: <%= cats.join(", ") %></span><span class="comments"><a href="/dreams/<%= dream.id %>#comment-section"><%= dream.comments.count %> comments</span>
            </div>
          </a>
        </div>

      <% end %>
    <% end %>
    <%= "<li>This user has no dreams to display. </li>" if dream_count == 0 %>


</div>
