<div class="bg-light text-dark">
  <h1><%= @category.name %></h1>

  <ul>
    <% if @category.dreams.empty? %>
      <li> No Dreams in this category.  Why not <a href="/dreams/new">share a dream</a>?</li>
    <% else %>
      <% @category.dreams.uniq.each do |dream| %>
        <% if !dream.private %>
          <li><a href="/dreams/<%= dream.id %>"><%= dream.title %></a> - posted by <a href="/users/<%= dream.user.id %>"><%= dream.user.username %></a>, <%= dream.created_at.strftime("%m/%d/%Y") %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
